html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: Montserrat, sans-serif;
    color:rgb(104, 129, 151);
    text-align: center;
}

header{
    display:flex;
    flex-direction: column;
    justify-content:center;
    background: linear-gradient(0deg, #fff1ee,#e7f3ed,#ace0f9, #C5D6EC);
    height:100vh;
    font-size:40px;
}

#imagination{
    margin:0 auto;
    width:400px;
    border: 0.15em solid #74BDCB;
    text-decoration: none;
}

#imagination:link, #imagination:visited {
    color:#74BDCB;
}

#drawing {
    background: linear-gradient(0deg,white, #fff1ee);
    display: flex;
    flex-wrap: wrap;
    padding: 0 70px;
}

/* Create 2 equal columns that sits next to each other */
.column {
    flex: 40%;
    padding: 0 15px;
}

img {
    width: 100%;
    border-radius: 10%;
    vertical-align: middle;
}

.container {
    position: relative;
    margin-bottom:25px;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.container:hover .overlay, .container:active .overlay {
    height: 25%;
}

.text {
    position: absolute;
    font-size: 1.3vw;
    color: rgb(100, 100, 100);
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
    .column {
        flex: 100%;
    }
    .text{
        font-size: 10px;
    }
}

@media only screen 
  and (max-device-width: 480px)
  and (orientation: portrait) {
    header{
        height:50vw;
    }
}
