html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: Montserrat, sans-serif;
    font-size:20px;
    color:white;
    text-align: center;
}

header{
    display:flex;
    flex-direction: column;
    justify-content:center;
    background: linear-gradient(0deg, #fff1ee,#e7f3ed,#ace0f9, #C5D6EC);
    height:100vh;
    font-size:35px;
}

#Computer-Science{
    margin:0 auto;
    width:400px;
    border: 0.15em solid #74BDCB;
    text-decoration: none;
}

#Computer-Science:link, #Computer-Science:visited {
    color:#74BDCB;
}

#code{
    background: linear-gradient(0deg,white, #fff1ee);
}

#code-skill{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a:link, a:visited{
    color:rgb(107, 107, 107);   
}

.card{
    margin-top:30px;
    background:rgb(149, 185, 218);
    width:250px;
    height:250px;
    border-radius: 50px;
    position: relative;
}

.text{
    position: absolute;
    bottom: 40px;
    left: 50%; 
    transform: translateX(-50%);
    -webkit-transform: translate(-50%);
}

.code-icon{
    position:relative;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    top:0px;
    transition: top 1s ease;
    cursor:pointer;
    margin-top:-30px;
}

#control1, #control2, #control3, #control4{
    display:none;
}

#control1:checked ~ label .code-icon{
    top:-115px;
}

#control2:checked ~ label .code-icon{
    top:-115px;
}

#control3:checked ~ label .code-icon{
    top:-115px;
}

#control4:checked ~ label .code-icon{
    top:-115px;
}

#code-project{
    margin: 20px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.project-thumbnail{
    margin:30px 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    border-radius: 30px;
    border:solid;
    border-width: 10px 10px 50px 10px;
}

.container{
    position:relative;
}

.container:hover .project-thumbnail, .container:active .project-thumbnail{
    color:#C5D6EC;
    transform:scale(1.12);
    position:relative;
    z-index:1;
}

.container:hover figcaption, .container:active figcaption{
    color:#f39898;
    bottom:25px;
}


figcaption{
    position:absolute;
    left:30px;
    bottom:50px;
    z-index: 1;
}


@media (max-width:1100px){
    .card, .code-icon{
        width:200px;
        height:200px;
    } 
    .text{
        font-size: 17px;
        bottom:50px;
    }
}

@media (max-width:900px){
    #code-skill{
        margin:0px auto;
        width:600px;
        height:550px; 
    }
    .card, .code-icon{
        width:250px;
        height:250px;
    }
    .project-thumbnail{
        width:300px;
        height:300px;
    }
    .container:hover figcaption, .container:active figcaption{
        bottom:32px;
    }
}

@media (max-width:700px){
    #code-skill{
        margin:0px auto;
        width:420px;
        height:450px; 
    }
    .card, .code-icon{
        width:180px;
        height:180px;
    }
    .project-thumbnail{
        width:380px;
        height:380px;
    }
    .container:hover .project-thumbnail, .container:active .project-thumbnail{
        transform:scale(1.08);
    }
}

@media only screen 
  and (max-device-width: 480px)
  and (orientation: portrait) {
    header{
        height:50vw;
    }
}
